/.mypy_cache
/.pytest_cache
/dist
**/__pycache__
pytemplate/performance_upward/build
/.coverage
/coverage.xml
/docs/_sources
/docs/.doctrees
/docs/.buildinfo
/docs/objects.inv
/docs/generate/module.rst
/docs/generate/pytemplate.*.rst
